$headerFont: 'Raleway', sans-serif;
$bodyFont: 'Lora', serif;

$accentColour: #da331d;
$highlightColour: #e5bf4b;
$contrastColour: #2a2a2a;
$lightColour: #fff;

$spring: cubic-bezier(0, .1, .6, 3);

$gutter: 1rem;

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translateZ(0);
    transition: top .3s ease-out, right .3s ease-out, bottom, .3s ease-out, left .3s ease-out;
}

@mixin underline($width, $colour) {
    border-bottom: #{$width} solid #{$colour};
}