@import "./partials/setup";
@import "./partials/utils";
@import "./partials/typography";

ul{
    padding: 0;
    list-style: none;
}

a, a:visited,a:active{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
    align-self: center;
    object-fit: cover;
}
section{
    margin: $gutter 0;
}

input[type="checkbox"]{
    display: none;
}

.fa-ul{
    margin-left: 1.05rem;
    .fa-li{
        text-align: left;
    }
}
.carousel-main{
    width: 33.33%;
}
.carousel-cell{
    width: 100%;
    padding: 0 20vmax;
}
.flickity-prev-next-button{
    background: transparent !important;
    svg{
        fill: $lightColour;
        opacity: .7;
        transition: opacity .2s;
    }
    &:hover{
        svg{
            opacity: 1;
        } 
    }
}


.wrapper{
    width: 70%;
    margin: 0 auto;
    transition: width .2s;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &__parent{
        padding:calc(#{$gutter} * 2) 0;
        min-height: 40vmin;
    }
    &__quarter{
        width: 25%;
        align-self: flex-start;
    }

    &__third{
        flex: 1 0 33%;
        align-self: flex-start;
        &--gutter{
            width: calc(#{$gutter} / 2);
            padding: calc(#{$gutter} / 2);
            &:nth-of-type(2){
                margin: 0 $gutter;
            }
        }
    }

    &__half{
        // flex: 1 0 50%;
        width: 50%;
    }

    &__full{
        flex: 1 0 100%;
    }

    // Justify classes
    &__justifyBetween{
        justify-content: space-between;
    }

    &__justifyCenter{
        justify-content: center;
    }

    // Align classes
    &__selfCenter{
        align-items: center;
    }
    &__alignCenter{
        // height: 100%;
        align-items: center;
    }

    &--minHeight{
        min-height: 40vmin;
    }

    // used on the main header
    &--hero{
        height: 100vh;
        background: url("../assets/image-1.jpeg") fixed center no-repeat;
        background-size: cover; 
        // color: $lightColour;
        .heading__sectionHeader{
            padding: 0;
        }
    }

    // defines background color
    &--light{
        background-color: $lightColour;
    }
    &--highlight{
        background-color: $highlightColour;
    }
    &--contrast{
        background-color: $contrastColour;
        color: $lightColour;
    }

    &--wrap{
        flex-wrap: wrap;
    }

    &--nowrap{
        flex-wrap: nowrap;
    }
}

.nav{
    &__mainNav{
        display: flex;
        flex: 1 0 100%;
        .nav__navList{
            display: flex;
            text-transform: uppercase;
        }
        .nav__listItem{
            font-size: 0.6rem;
        }
    }
    &__secondaryNav{
        display: flex;
        flex: 1 0 100%;
        flex-wrap: wrap;
        .nav__navList{
            display: flex;
            justify-content: center;
            flex: 1 0 100%;
        }
    }

    &__listItem{
        font-size: 1rem;
        margin-right: 1rem;
        &:last-of-type{
            margin-right: 0;
        }
    }
}

.bodyText{
    font-family: $bodyFont;
    font-size: .7rem;
    &__anchor{
        font-family: $headerFont;
        font-size: .5rem;
        height: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        transform: scale(1) translateZ(0);
        transform-origin: left center;
        transition: transform .2s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &--center{
        text-align: center;
    }
    &--accent{
        color: $accentColour !important;
    }
}

.heading{
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &__sectionHeader{
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        width: 100%;
        padding: calc(#{$gutter} * 1.5) 0;
        // padding-top: 0;
        &--hero{
            font-size: 1.5rem;
        }
    }
    &__title{
        font-size: .8rem;
        width: 100%;
        text-align: center;
    }
    &--center{
        width: 100%;
        text-align: center;
    }
    &--left{
        text-align: left;
    }
    &--border{
        position: relative;
        padding: .5rem;
        &:before{
            content: '';
            @include position(absolute,0,0,0,0);
            @include underline(1px, $lightColour);
        }
    }
    &--logo{
        text-transform: uppercase;
    }
}

.gallery{
    // min-height: 40vmin;
    &__badge{
        text-align: center;
        svg{
                transform: scale(1);
                transition: transform .6s;
            }
        &:hover{
            svg{
                transform: scale(1.3) translateZ(0);
            }
        }
    }
    &__threeColumn{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: calc(33% - calc(#{$gutter} / 2));
        align-self: stretch;
        &--full{
            width: 100%;
        }
        img{
            width: 100%;
        }
        &:hover{
            .gallery__overlay{
                opacity: 1;
                background-color: rgba($color: #222222, $alpha: 0.7);
                color: $lightColour;
                .heading--border:before{
                    @include position(absolute,0,15%,0,15%);
                    border-bottom: 1px solid $lightColour;
                }
            }
        }
    }
    &__tile{
        max-width: 90%;
        transform: translateZ(0);
        transition: transform .3s;
        margin-top: .25rem;
        &--half{
            width: 50%;
            padding: 10px;
            margin-top: 0;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    &__panel{
        &--text{
            padding: calc(#{$gutter} * 1.5) calc(#{$gutter} * 3);
            p{
                font-size: .6rem;
            }
        }
    }
    &__overlay{
        @include position(absolute, 0,0,0,0);
        padding: 2rem;
        padding-top: 1rem;
        transform: translateZ(999);
        background-color: rgba($color: #222222, $alpha: 0);
        color: rgba($color: $lightColour, $alpha: 0);
        transition: opacity .4s, background .4s, color .6s, padding .6s, border .3s;
        .heading--border{
            &:before{
                content: '';
                @include position(absolute,0,0,0,0);
                padding: 0;
                border-bottom: 1px solid rgba($color: $lightColour, $alpha: 0);
                transition: border .6s, left 1s cubic-bezier(0, .1, .6, 3), right 1s cubic-bezier(0, .1, .6, 3);
            }
        }
    }
}

form{
    input{
        border: none;
        @include underline(1px,$contrastColour);
        padding: .5rem 0;
        position: relative;
        background: white;
        outline: none;
        height: 2rem; // Explicit height prevents other elements from wiggling on focus
        transition: border .15s;
        &:focus{
            border-width: 2px;
        }
    }
}


button{
    position: relative;
    border: none;
    outline: none;
    z-index: 100;
    &.btn{
        margin: $gutter 0;
        padding: .5rem 1.25rem;
        text-align: center;
        font-size: .6rem;
        color: $lightColour;
        font-family: $headerFont;
        text-transform: uppercase;
        letter-spacing: .1rem;
        &__rounded{
            border-radius: 2rem;
        }
        &--accent{
            background-color: $accentColour;
        }
        &--contrast{
            background-color: $contrastColour;
        }
        &:before{
            content:'';
            @include position(absolute,0,0,0,0);
            background-color: inherit;
            opacity: .5;
            border-radius: 2rem;
            padding: .5rem 1.25rem;
            z-index: -1;
            transform: translateZ(0);
            transition: top .25s $spring, right .25s $spring, bottom, .25s $spring, left .25s $spring;
        }
        &:hover{
            &:before{
                content:'';
                @include position(absolute, .25rem, -.25rem, -.25rem, .25rem);
            }
        }
    }
}

@import "./partials/mediaQueries";